<h1>{{ title }}</h1>

<p>{{ getInfo() }}</p>

<p>{{ info }}</p>

<p>Wyrażenie: {{ (2 + 2 - 1) * 4 }}</p>

<p>Wyrażenie z metodą: {{ (50 + 50) / getNumber() }}</p>

<p>Typ boolean: {{ happy }}</p>

<p>
  Ternary operator: <br />
  {{ happy ? 'I am happy' : 'I am not happy' }}
</p>

<p>Interpolacja name z obiektu 'dog':</p>
<p>{{ dog.name }}</p>
<p>Interpolacja 'name' i 'age' z obiektu zwracanego z metody 'getPerson()':</p>
<p>{{ getPerson().name }} {{ getPerson().age }}</p>

<hr />

<h1>Nieprawidłowa interpolacja</h1>

<p>Interpolacja na obiekcie 'dog'</p>
<p>{{ dog }}</p>

<p>Interpolacja na obiekcie z metody 'getPerson()':</p>
<p>{{ getPerson() }}</p>

<p>Wymuszenie 'toString()' na metodzie:</p>
<p>{{ getPerson }}</p>
